/*بسم الله الرحمان الرحيم*/

/* UNIVERSAL STYLES */
html, body {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    background-color: #3e1e18;

    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

a {
    text-decoration: none;
}

/*SCROLLBAR*/
/*Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ac5c45 #3e1e18;
  }
  
/*Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
  }
  
*::-webkit-scrollbar-track {
    background: #3e1e18; 
  }
   
*::-webkit-scrollbar-thumb {
    background: #ac5c45; 
  }


header {
    display: flex;
    height: 400px;

    align-items: center;
    justify-content: center;

    /* Background image properties */
    background-image: url(./title-background-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: black;
}

/*MAIN PAGE*/
header #site-title {
    width: auto;
    height: auto;
    padding: 10px 20px;

    text-align: center;

    font-weight: 700;
    font-family: "Mirza";
    font-size: 4rem;
    text-shadow: 2px 2px maroon;
}

#summary {
    display: flex;
    padding: 40px 60px;
    background-color: #824c40;

    align-items: center;
    justify-content: center;

}

#summary p {
    text-align: justify;
    direction:rtl;

    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

#table-of-contents {
    background-color: #ebe4db;
    padding-bottom: 10px;

    text-align: center;
}

#link-container {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    width: 250px;
    height: 250px;
    margin: 20px;
    background-color: #824c40;

    flex-shrink: 0;

    cursor: pointer;
}

.link-desc {
    display: none;
}

.link:hover .link-desc {
    display: flex;
    height: 20%;
    position: relative;
    top: 80%;
    background-color: black;
    opacity: 0.8;

    align-items: center;
    justify-content: center;

    font-size: 1.25rem;
    font-weight: bolder;
    color: white;
}

button {
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: black;
    border: black;

    text-align: center;
    align-items: center;

    color: white;
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;

    cursor: pointer;
}


/*RESPONSIVE STYLES*/
@media screen and (max-width: 768px) {
    html, body {
        width: 100%;
        margin: 0;
    }

    .link {
        width: 200px;
        height: 200px;
        margin: 20px 10px;
        background-color: #824c40;
        flex-shrink: 0;
    }
}

@media screen and (max-width: 480px) {
    #link-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .link {
        width: 400px;
        height: 400px;
        margin: 20px;
        background-color: #824c40;
        flex-shrink: 0;
    }
}