html, body {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    background-color: #3e1e18;
    font-size: 18px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    height: 400px;

    /* Background image properties */
    background-image: url(./title-background-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Flex item properties*/
    align-items: center;
    justify-content: center;
}

header #site-title {
    width: auto;
    height: auto;
    padding: 10px 20px;
    text-align: center;

    /* Font properties */
    color: black;
    font-weight: 700;
    font-family: "Mirza";
    font-size: 4rem;
    text-shadow: 2px 2px maroon;
}

#summary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 40px 60px;
    background-color: #824c40;
}

#summary p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: right;
    direction:rtl;
}

#table-of-contents {
    background-color: #ebe4db;
    text-align: center;
    padding-bottom: 10px;
}

#link-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    width: 250px;
    height: 250px;
    margin: 20px;
    background-color: #824c40;
}

#bio-button {
    display: block;
    height: 36px;
    width: 150px;
    padding: 20px;
    background-color: black;
    text-align: center;

    margin: 10px auto;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    html, body {
        width: 100%;
        margin: 0;
    }
}