html, body {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #3e1e18;
    font-size: 18px;
}

header {
    display: flex;
    height: 400px;

    /* Background image properties */
    background-image: url(./title-background-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Flex item properties*/
    align-items: center;
    justify-content: center;
}

header #site-title {
    width: auto;
    height: auto;
    padding: 10px 20px;
    text-align: center;

    /* Font properties */
    color: black;
    font-weight: 700;
    font-family: "Mirza";
    font-size: 3.75rem;
    text-shadow: 2px 2px maroon;
}

#summary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 40px 60px;
    background-color: #824c40;
}

#summary p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: right;
    direction:rtl;
}

#table-of-contents {
    height: 700px;
    background-color: #ebe4db;
}
