/*بسم الله الرحمان الرحيم*/

/* UNIVERSAL STYLES */
html, body {
    width: 100%;
    background-color: #ebe4db;

    background-image: url(../margin-background);
    background-attachment: fixed;


    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    direction: rtl;
}

a {
    text-decoration: none;
    color: maroon;
}

article a:visited {
  color: #ac5c45;
}

figure {
  background-color: #c5bdb4;
  color: #3e1e18;
  font-size: 1.2rem;
}

figcaption {
  padding: 10px 10px;
}

/*SCROLLBAR*/
/*Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ac5c45 #3e1e18;
  }
  
/*Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
  }
  
*::-webkit-scrollbar-track {
    background: #3e1e18; 
  }
   
*::-webkit-scrollbar-thumb {
    background: #ac5c45; 
  }


  @font-face {
    font-family: 'AlQalam-Quran-Majeed-2';
    src: url('../fonts/Al-Qalam-Quran-Majeed/AlQalam-Quran-Majeed-2/AlQalam-Quran-Majeed-2.eot');
    src: url('../fonts/Al-Qalam-Quran-Majeed/AlQalam-Quran-Majeed-2/AlQalam-Quran-Majeed-2.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Al-Qalam-Quran-Majeed/AlQalam-Quran-Majeed-2/AlQalam-Quran-Majeed-2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AlQalamQuranMajeed2';
    src: url('../fonts/Al-Qalam-Quran-Majeed/AlQalam-Quran-Majeed-2/AlQalamQuranMajeed2.svg#AlQalamQuranMajeed2') format('svg'),
         url('../fonts/Al-Qalam-Quran-Majeed/AlQalam-Quran-Majeed-2/AlQalamQuranMajeed2.ttf') format('truetype'),
         url('../fonts/Al-Qalam-Quran-Majeed/AlQalam-Quran-Majeed-2/AlQalamQuranMajeed2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebe4db;
  box-shadow: 0px 2px 6px #a3a09b;
  padding: 20px 34px;
}


nav {
  height: 30px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}


nav a {
  margin: 0 10px;

  font-size: 1.25rem;
  color: #824c40;  
}

#current-page {
  text-decoration: underline;
}

#nav-title {
  margin: 0 20px;

  order: -1;

  font-weight: 700;
  color: black;
  font-family: "Mirza";

  transition: 250ms linear;
}

#nav-title:hover{
  text-shadow: 2px 2px 5px maroon;
}

nav a:hover{
  font-weight: bolder;
}

button {
  display: block;
  background-color: inherit;
  border: 2px solid black;
  border-radius: 5px;
  padding: 4px 10px;
  margin-left: 40px;

  text-align: center;
  align-items: center;

  color: black;
  font-weight: 500;
  font-size: 1.25rem;
  font-family: 'Times New Roman', Times, serif;

  cursor: pointer;
  transition: 250ms linear;
}

button:hover{
  background-color: black;
  color: white;
}

article {
  width: 800px;
  margin: 40px auto 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px gray;
  padding: 20px;
  background-color: #ebe4db;
  color: rgba(30, 30, 30, 0.897);
}

article header {
  display: block;
  box-shadow: none;
  padding: 0;
}

article h1 {
  font-family: "Amiri";
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0px;
}

article h2 {
  font-family: "Lateef";
  font-size: 2.2rem;
  margin-bottom: 20px;
  margin-right: 5px;
  color: gray;
}

article img {
  width: 100%;
}

article header #author-info {
  display: flex;
  border-top: 1px solid #3e1e18;
  border-bottom: 1px solid #3e1e18;
  align-items: center;
  margin: 20px 0;
  padding: 8px 0;

  font-size: 1rem;
  font-weight: bolder;
}

#author-info img {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  margin-left: 15px;
  margin-right: 5px;
}

#author-info span {
  display: block;
  margin-top: 6px;
}

#author-info #name {
  padding-bottom: 10px;
  color: maroon;
}

#basmalah {
  display: block;
  font-family: "Reem Kufi";
  font-size: 1.8rem;
  font-style: italic;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

article p {
  font-size: 1.45rem;
  line-height: 40px;
  text-align: justify;
  margin: 20px 0 20px;
}

article h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 40px;
}

article h4 {
  font-size: 1.45rem;
  font-weight: bold;
  margin-top: 40px;
}

article #quran {
  font-family: 'AlQalam-Quran-Majeed-2', 'AlQalamQuranMajeed2';
  display: block;
  text-align: center;
  margin: 20px auto -20px;
}

#references {
  display: inline-block;
  width: 100%;
  /*width:fit-content;*/
  background-color: #ebe4db;
  border-radius: 8px;
  border: 2px solid #3e1e18;
}

#references h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #3e1e18;
  padding: 10px 15px 10px 0;
  margin-top: 0;
}

#references h5 {
  margin: 20px 15px 0 0;
  font-size: 1.4rem;
  color: maroon;
}

#references ul{
  margin: 15px;
}

#references li {
  font-size: 1.25rem;
  margin: 5px 0;
}

#english-references li{
  font-size: 1.1rem;
}

/*
#interview {
  display: inline-block;
}

#interview audio {
  height: 50px;
}

#interview p {
  font-size: 1rem;
} */

#extra {
  color: white;
  background-color: #3e1e18;
}

#extra h2 {
  font-weight: bold;
  font-size: 3rem;
  color: rgb(165, 163, 163);
}

#extra h4 {
  color: #9c5b4c;
}

