/*بسم الله الرحمان الرحيم*/

/* ====================== UNIVERSAL STYLES =======================*/
html,
body {
  width: 100%;
  background-color: #ebe4db;
  padding-bottom: 40px;

  background-image: url(../margin-background);
  background-attachment: fixed;


  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  direction: rtl;
}

a {
  text-decoration: none;
  color: maroon;
}

article a:visited :not(#author-info) {
  color: #ac5c45;
}

figure {
  width: 90%;
  margin: 0 auto;
  background-color: #c5bdb4;
  color: #3e1e18;
  font-size: 1.2rem;
}

figcaption {
  padding: 10px 10px;
}


/*---------------- SCROLLBAR ------------------*/
/*Firefox */
* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #ac5c45 #3e1e18;
}

/*Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #3e1e18;
}

*::-webkit-scrollbar-thumb {
  background: #ac5c45;
}


/*------------------- FONTS ------------------------*/
@font-face {
  font-family: 'AlQalam-Quran-Majeed-2';
  src: url('../fonts/Al-Qalam-Quran-Majeed/AlQalam-Quran-Majeed-2/AlQalam-Quran-Majeed-2.eot');
  src: url('../fonts/Al-Qalam-Quran-Majeed/AlQalam-Quran-Majeed-2/AlQalam-Quran-Majeed-2.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Al-Qalam-Quran-Majeed/AlQalam-Quran-Majeed-2/AlQalam-Quran-Majeed-2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlQalamQuranMajeed2';
  src: url('../fonts/Al-Qalam-Quran-Majeed/AlQalam-Quran-Majeed-2/AlQalamQuranMajeed2.svg#AlQalamQuranMajeed2') format('svg'),
    url('../fonts/Al-Qalam-Quran-Majeed/AlQalam-Quran-Majeed-2/AlQalamQuranMajeed2.ttf') format('truetype'),
    url('../fonts/Al-Qalam-Quran-Majeed/AlQalam-Quran-Majeed-2/AlQalamQuranMajeed2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/*=========================== PAGE STYLES ==============================*/

/*--------------------- NAV STYLES -------------------*/
#page-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 2;

  background-color: #ebe4db;
  box-shadow: 0px 2px 6px #a3a09b;
  padding: 15px 34px;
}

nav {
  height: 30px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  margin: 0 10px;

  font-size: 1.25rem;
  color: #824c40;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ebe4db;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #824c40;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#nav-title {
  margin: 0 20px;

  order: -1;

  font-weight: 700;
  color: black;
  font-family: "Mirza";
  text-decoration: none;

  transition: 250ms linear;
}

button {
  display: block;
  background-color: inherit;
  border: 2px solid black;
  border-radius: 5px;
  padding: 4px 10px;
  margin-left: 80px;

  text-align: center;
  align-items: center;

  color: black;
  font-weight: 500;
  font-size: 1.25rem;
  font-family: 'Times New Roman', Times, serif;

  cursor: pointer;
  transition: 250ms linear;
}


/*Nav interactivity*/
#current-page {
  font-weight: bold;
}

#nav-title:hover {
  text-shadow: 2px 2px 5px maroon;
}

nav a:hover {
  text-decoration: underline;
}

button:hover {
  background-color: black;
  color: white;
}



/*----------------------- ARTICLE STYLES ---------------------*/
article {
  position: relative;
  top: 70px;
  width: 600px;
  margin: 40px auto;
  padding: 20px 100px;

  box-shadow: 2px 2px 5px gray;
  background-color: #ebe4db;
  color: rgba(30, 30, 30, 0.897);
}

article img {
  width: 100%;
}


/*Article header*/
article header {
  display: block;
  box-shadow: none;
  padding: 0;
}

article h1 {
  font-family: "Amiri";
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0px;
}

article h2 {
  font-family: "Lateef";
  font-size: 2.2rem;
  margin-right: 5px;
  color: gray;
}

/* - Author info box */
article header #author-info {
  display: flex;
  margin: 20px 0;
  padding: 8px 0;
  border-top: 1px solid #3e1e18;
  border-bottom: 1px solid #3e1e18;

  align-items: center;

  font-size: 1rem;
  font-weight: bolder;
}

#author-info img {
  height: 60px;
  width: 60px;
  margin-left: 15px;
  margin-right: 5px;

  border-radius: 100%;
}

#author-info span {
  display: block;
  margin-top: 6px;
}


/*Article main content*/
article p {
  font-size: 1.45rem;
  line-height: 40px;
  text-align: justify;
  margin: 20px 0 20px;
}

article h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 40px;
}

article h4 {
  font-size: 1.45rem;
  font-weight: bold;
  margin-top: 40px;
}

article ol {
  list-style: arabic-indic;
  margin: 0 50px 40px 20px;
  font-size: 1.4rem;
}

ol li {
  margin: 20px 0 20px;
}

/*Specific styles*/
.list-image {
  width: 70%;
}

.isolated {
  margin: 10px 50px 20px 30px;
}

#basmalah {
  display: block;
  font-family: "Reem Kufi";
  font-size: 1.8rem;
  font-style: italic;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

article #quran {
  font-family: 'AlQalam-Quran-Majeed-2', 'AlQalamQuranMajeed2';
  display: block;
  text-align: center;
  margin: 20px auto -20px;
}


/*Article footer*/
#references {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  background-color: #ebe4db;
  border-radius: 8px;
  border: 2px solid #3e1e18;
}

#references h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #3e1e18;
  padding: 10px 15px 10px 0;
  margin-top: 0;
}

#references h5 {
  margin: 20px 15px 0 0;
  font-size: 1.4rem;
  color: maroon;
}

#references ul {
  margin: 15px;
}

#references li {
  font-size: 1.25rem;
  margin: 5px 0;
}

#english-references li {
  font-size: 1.1rem;
}


/*------------------------- INTERVIEW STYLES --------------------------*/
/*Universal*/
#interviews {
  background-color: #824c40;
  outline: 5px solid black;
  padding-top: 30px;
  padding-bottom: 50px;
  color: white;
}

/*Description*/
#interviews h1 {
  text-align: center;
  margin: 0;
}

#interviews p {
  font-size: 1.5rem;
  margin: 10px 0 10px;
}

#interviews ul {
  list-style: initial;
  margin: 0 30px 10px 0;
  font-size: 1.25rem;
}

/*Video gallery*/
.gallery {
  direction: ltr;
}

.gallery-cell {
  width: 100%;
  text-align: center;
  height: 400px;
}

.gallery-cell h3 {
  display: block;
  color: white;
  font-size: 1.25rem;
  font-style: italic;
  margin-top: 20px;
}

.gallery-cell video {
  width: 100%;
}

/* - Flickity styling*/

.flickity-button {
  background: transparent;
}

.flickity-button:hover {
  background: #333;
}

.flickity-prev-next-button {
  width: 60px;
  height: 100px;
  border-radius: 5px;
}

.flickity-button-icon {
  fill: white;
}

.flickity-prev-next-button.previous {
  left: -160px;
}

.flickity-prev-next-button.next {
  right: -80px;
}



/*-------------------------- EXTRA ARTICLE STYLE -------------------------*/
#extra {
  color: white;
  background-color: #3e1e18;
}

#extra h2 {
  font-weight: bold;
  font-size: 3rem;
  color: rgb(165, 163, 163);
}

#extra h4 {
  color: #9c5b4c;
}