/*بسم الله الرحمان الرحيم*/

/* UNIVERSAL STYLES */
html, body {
    width: 100%;
    background-color: #ebe4db;

    background-image: url(../margin-background);
    background-attachment: fixed;


    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    direction: rtl;
}

a {
    text-decoration: none;
}


/*SCROLLBAR*/
/*Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ac5c45 #3e1e18;
  }
  
/*Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
  }
  
*::-webkit-scrollbar-track {
    background: #3e1e18; 
  }
   
*::-webkit-scrollbar-thumb {
    background: #ac5c45; 
  }


/*MAIN STYLES*/
/*Nav bar*/
header {
  width: 100%;
  background-color: #ebe4db;
  box-shadow: 0px 2px 6px #a3a09b;

  position: fixed;
  top: 0;
  z-index: 2;
}


nav {
  width: 95%;
  height: 30px;
  margin: 20px auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}


nav a {
  margin: 0 10px;

  font-size: 1.25rem;
  color: #824c40;  
}

#nav-title {
  margin: 0 20px;

  order: -1;

  font-weight: 700;
  color: black;
  font-family: "Mirza";

  transition: 250ms linear;
}

#nav-title:hover{
  text-shadow: 2px 2px 5px maroon;
}

nav a:hover{
  font-weight: bolder;
}

/*Main content*/
article {
  width: 980px;
  margin: 0 auto;

  position: relative;
  top: -10px;
}


.bio-container {
  width: 100%;
  height: 500px;
  margin: 150px 0;

  display: flex;
  align-items: flex-start;

  box-shadow: 4px 4px 5px gray;
  background-color: #3e1e18;
  color: white;
}

  /*TEXT styling*/
  .bio-container section {
    margin: auto 5%;
    width: 50%;

    text-align: center;
  }

  .bio-container h2 {
    margin-top: 10px;

    font-size: 4rem;
    font-family: 'Mirza', serif;
    font-weight: bold;
    text-align: justify;
  }

  .bio-container p {
    margin: 10px 0 20px;

    font-size: 1.2rem;
    text-align: justify;
  }

  .bio-container button {
    width: fit-content;
    margin: 0 auto;
    background-color: white;
    border: black;

    font-size: 1.5rem;

    transition: 250ms linear;
  }

  .bio-container button:hover {
    background-color: #824c40;
    color: white;
  }

  /*Styles for specific bio texts*/
  #nabil p {
    font-size: 1.3rem;
  }
  
  #muhtasim p {
    font-size: 1.4rem;
  }
  
  #emaad p {
    font-size: 1.6rem;
  }

  /*IMAGE styling*/
  .bio-container img {
    height: 100%;
    width: 40%;
  }

