/*بسم الله الرحمان الرحيم*/

/* UNIVERSAL STYLES */
html, body {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    background-color: #ebe4db;

    background-image: url(../margin-background);
    background-attachment: fixed;
    
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

body {
    position: relative;
    top: 60px;
}

a {
    text-decoration: none;
}

/*SCROLLBAR*/
/*Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ac5c45 #3e1e18;
  }
  
/*Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
  }
  
*::-webkit-scrollbar-track {
    background: #3e1e18; 
  }
   
*::-webkit-scrollbar-thumb {
    background: #ac5c45; 
  }


header {
    display: flex;
    box-sizing: border-box;
    height: 200px;
    border: 15px solid black;

    align-items: center;
    justify-content: center;

    /* Background image properties */
    background-image: url(../title-background-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: black;
    outline: 5px solid black;
}

/*MAIN PAGE*/
#site-title {
    width: auto;
    height: auto;
    padding: 10px 20px;

    text-align: center;

    font-weight: 700;
    font-family: "Mirza";
    font-size: 4rem;
    text-shadow: 2px 2px maroon;

    transition: 250ms linear;
}

#site-title:hover{
    text-shadow: 4px 4px 4px maroon;

}

#summary {
    display: flex;
    padding: 40px 60px;
    background-color: #3e1e18;

    position: relative;
    top: 40px;

    align-items: center;
    justify-content: center;

    outline: 5px solid black;
}

#summary p {
    text-align: justify;
    direction:rtl;

    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

#table-of-contents {
    background-color: #824c40;
    padding: 20px 0;
    margin-bottom: 220px;

    position: relative;
    top: 80px;

    text-align: center;

    outline: 5px solid black;
}

#link-container {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px;
    background-color: #3e1e18;

    flex-shrink: 0;

    cursor: pointer;
}

.link img {
    display: block;
    width: 100%;
}

.link-desc {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.65); /* Black see-through */
    color: #f1f1f1;
    width: 210px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.link:hover .link-desc {
    opacity: 1;
}

button {
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: black;
    border: black;

    text-align: center;
    align-items: center;

    color: white;
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;

    cursor: pointer;
    transition: 250ms linear;
}

button:hover{
    background-color: white;
    color: black;
}



/*RESPONSIVE STYLES*/
@media screen and (max-width: 768px) {
    html, body {
        width: 100%;
        margin: 0;
    }

    .link {
        width: 200px;
        height: 200px;
        margin: 20px 10px;
        background-color: #824c40;
        flex-shrink: 0;
    }
}

@media screen and (max-width: 480px) {
    #link-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .link {
        width: 400px;
        height: 400px;
        margin: 20px;
        background-color: #824c40;
        flex-shrink: 0;
    }
}