@font-face {
  font-family: 'AlQalam-Quran-Majeed-2';
  src: url('AlQalam-Quran-Majeed-2.eot');
  src: url('AlQalam-Quran-Majeed-2.eot?#iefix') format('embedded-opentype'),
       url('AlQalam-Quran-Majeed-2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlQalamQuranMajeed2';
  src: url('AlQalamQuranMajeed2.svg#AlQalamQuranMajeed2') format('svg'),
       url('AlQalamQuranMajeed2.ttf') format('truetype'),
       url('AlQalamQuranMajeed2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

